<template>
    <div>
        <div class="pt-4">
            {{ title }}
            <span v-bind:title="this.tooltipText" class="inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                            </span>
            <div>
                {{ value.toString() }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DetailComponent",
        props: {
            title: {
                type: String,
                default: "",
            },
            tooltipText: {
                type: String,
                default: "",
            },
            value: {
                type: String,
                default: "",
            },
        },
    }
</script>

<style scoped>

</style>
