<template>
    <div>
        <div class="h-screen lg:flow-root text-gray-800">
            <div class="h-2/3 lg:float-right lg:w-3/4 lg:h-screen">
                <l-map ref="myMap" @ready="mapReady()"
                       style="height: 100%; width: 100%"
                       :zoom="zoom"
                       :center="center"
                       @update:zoom="zoomUpdated"
                       @update:center="centerUpdated"
                       @update:bounds="boundsUpdated"
                >

                    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
                </l-map>
            </div>
            <div class="h-1/3 lg:float-left lg:w-1/4 lg:h-screen lg:shadow-2xl rounded lg:max-w-lg lg:shadow-inner">
                <div class="bg-blue-300 py-2">
                    <div class="text-3xl font-semibold px-4 title">
                        oh-well!
                    </div>
                </div>
                <div class="px-4 divide-y">
                    <div class="py-2">
                        <div class="text-lg font-bold">
                            Center
                        </div>
                        <div>
                            {{ parseFloat(this.center.lat).toFixed(4) }}, {{parseFloat(this.center.lng).toFixed(4)}}
                        </div>
                    </div>
                    <div class="py-2">
                        <FilterType @filter-type-changed="refreshData"></FilterType>
                        <RegionFilter @multiselect-changed="refreshPolygons" ref="regionFilter" :original-options="this.lastSampleCategories"></RegionFilter>
                    </div>
                    <div class="py-2" v-if="this.selectedPolygon !== null">
                            <div class="" v-if="this.showDetails">
                                <div class="text-lg" v-on:click="this.toggleDetailView">
                                    Selected Region
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block float-right" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                                    </svg>
                                </div>
                                {{selectedPolygon.name}}
                                <detail-component title="Nitrogen Level" :tooltip-text="this.nitrateText" value="" v-if="this.currentFilterMode === 'Nitrate Level'"></detail-component>
                                <detail-component title="Latest Test Date" :tooltip-text="this.latestTestText" :value="this.selectedPolygon.readDate"></detail-component>

                                <!--                               <water-quality></water-quality>-->
                            </div>
                            <div class="text-lg" v-if="!this.showDetails" v-on:click="this.toggleDetailView">
                                Selected Region
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                                </svg>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {LMap, LTileLayer} from 'vue2-leaflet'
import water_zones from '@/assets/water_zones.json'
import * as L from 'leaflet'
import DetailComponent from "./DetailComponent"
import { LocalApi } from "@/assets/LocalApi";
import RegionFilter from "./RegionFilter";
import FilterType from "./FilterType";
import wells from "@/csv_data.js"
import turf from 'turf'
import booleanPointInPolygon from '@turf/boolean-point-in-polygon'
import moment from 'moment'

function point_in_polygon(point, polygon) {
    const turf_point = turf.point([point[1], point[0]])
    const turf_polygon = turf.polygon([polygon.map(point => [point[1], point[0]])])
    return booleanPointInPolygon(turf_point, turf_polygon)
}

function average_date(dates) {
  if (dates.length === 0) {
      return undefined
  }

  const total_time = dates.reduce((a, b) => a + b.getTime(), 0)
  const average_time = total_time / dates.length
  return new Date(average_time);
}

let polygons = water_zones.features.map(feature => {
    const geometry = feature.geometry
    let coordinates = null;
    if (geometry.geometries != null && geometry.coordinates != null) {
        console.error("should not happen")
    } else if (geometry.geometries != null) {
        coordinates = geometry.geometries.map(geom => geom.coordinates.map(x => x.map(y => [y[1], y[0]])))
    } else if (geometry.coordinates != null) {
        coordinates = [geometry.coordinates.map(coordinates => coordinates.map(x => [x[1], x[0]]))]
    } else {
        console.error("should not happen")
    }

    const relevant_wells = []
    for (const well of wells) {
        for (const polygon of coordinates.flat(1)) {
            if (point_in_polygon(well.coordinates, polygon)) {
                relevant_wells.push(well)
                break
            }
        }
    }
    const average_last_sample_date = average_date(relevant_wells.map(well => well.last_sample_date))

    return {
        name: `${feature.id} - ${feature.properties.WaterUseTitle}${(feature.properties.ZoneName && (" - " + feature.properties.ZoneName)) || ""}`,
        coordinates: coordinates,
        avgDate: average_last_sample_date,
        readDate: average_last_sample_date && moment(average_last_sample_date).format('DD/MM/YYYY') || "No data"
    }
})

export default {
    name: "Feature",
    components: {
        FilterType,
        RegionFilter,
        DetailComponent,
        LMap,
        LTileLayer
    },

  mounted() {
    this.api = new LocalApi();
    this.getWell();
  },

  data() {
        return {
            map: null,
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            zoom: 12,
            center: L.latLng(-43.506072, 172.617301),
            bounds: null,
            attribution:
                '&copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            polygons: polygons,
            polygonObjs: [],
            filteredPolygons: null,
            selectedPolygon: null,
            waterQualityText: "Water quality is determined out of 100, using the formula ",
            nitrateText: "Nitrate-Nitrogen Levels are given in mg/L, studies have shown that values over 3.85 can cause cancer.",
            latestTestText: "The average latest sample date of all wells in this area.",
            showDetails: true,
            localApi: new LocalApi(),
            legend: "",
            currentFilterMode: "Last Sample",
            currentCategories: [],
            lastSampleTitle: "Avg. Last Sample Date",
            lastSampleCategories: [{"name" : '<1990', value : new Date().setFullYear(1990)},
                {name : '<1995', value: new Date().setFullYear(1995)},
                {name : '<2000', value : new Date().setFullYear(2000)},
                {name: '<2005', value : new Date().setFullYear(2005)},
                {name : '<2010', value: new Date().setFullYear(2010)},
                {name : '<2015', value: new Date().setFullYear(2015)},
                {name : '2016', value : new Date().setFullYear(2017)},
                {name : '2017', value: new Date().setFullYear(2018)},
                {name : '2018', value : new Date().setFullYear(2019)},
                {name : '2019+', value :new Date().setFullYear(2019)},
                {name : 'No data', value : -1}],
            nitrateTitle: "Nitrate-N Levels mg/L",
            nitrateCategories: [{"name" : '0.0+', value : 0.0}, {name : '0.5+', value: 0.5}, {name : '1.0+', value : 1.0},
                {name: '1.5+', value : 1.5}, {name : '2.0+', value: 2.0}, {name : '2.5+', value: 2.5}, {name : '3.0+', value : 3.0},
                {name : '3.5+', value: 3.5}, {name : '4.0+', value : 4.0}, {name : '4.5+', value : 4.5}, {name : 'No data', value : -1}],
            chlorineTitle: "Chlorine Levels mg/L",
            chlorineCategories: [],
        };
    },
    methods: {
        mapReady() {
            this.map = this.$refs.myMap.mapObject;
            this.filteredPolygons = this.polygons;
            this.currentCategories = this.lastSampleCategories;
            this.addPolygons();
            this.addLegend();
        },

        addLegend() {
            this.legend = L.control({position: 'bottomleft'});
            this.legend.onAdd = () => {
                var div = L.DomUtil.create('div', 'info legend');
                var title = this.lastSampleTitle;

                var categories = this.lastSampleCategories;
                switch (this.currentFilterMode) {
                    case "Last Sample":
                        categories = this.lastSampleCategories;
                        title = this.lastSampleTitle;
                        break;
                }
                var labels = ['<strong>' + title +  ' </strong>'];
                for (var i = 0; i < categories.length; i++) {

                    div.innerHTML +=
                        labels.push(
                            '<i class="circle" style="background:' + this.localApi.colorGenerator(i + 1) + '"></i> ' +
                            (categories[i].name ? categories[i].name : '+'));

                }
                div.innerHTML = labels.join('<br>');
                return div;
            };
            this.legend.addTo(this.map);
        },

        async getWell(){
          // await this.api.getWell('BX23/0228')
        },

        refreshData(newMode) {
            this.currentFilterMode = newMode;
            switch(newMode) {
                case "Last Sample":
                this.currentCategories = this.lastSampleCategories;
            }
            this.refreshLegend();
            this.refreshPolygons(this.$refs.regionFilter.getFilters());
            this.$refs.regionFilter.refreshFilter(this.currentCategories);

        },
        refreshPolygons(filters) {
            this.clearPolygons();
            this.filterPolygons(filters);
            this.filterPolygons(filters);
            this.addPolygons();
        },

        refreshLegend() {
            this.map.removeControl(this.legend);
            this.addLegend();
        },


        filterPolygons(filters) {
            //TODO
            this.filteredPolygons = [];
            for (let i = 0; i < this.polygons.length; i++) {
                let polygon = this.polygons[i];
                if (filters.includes(polygon.qualityLevel)) {
                    this.filteredPolygons.push(polygon);
                }
            }

        },

        clearPolygons() {
            for (let i = 0; i < this.polygonObjs.length; i++) {
                let poly = this.polygonObjs[i];
                this.map.removeControl(poly);
            }
        },

        dateColor(date) {
            if (date == null) {
                return -1
            }
            for (let i = 0; i < this.currentCategories.length; i ++) {
                if (date < this.currentCategories[i].value) {
                    return i + 1;
                }
            }
            if (date < Date.now()) {
                return 10;
            }
            return -1;
        },

        addPolygons() {
            this.polygonObjs = [];
            for (let i = 0; i < this.filteredPolygons.length; i++) {
                for (let j = 0; j < this.filteredPolygons[i].coordinates.length; j++) {
                    for (let k = 0; k < this.filteredPolygons[i].coordinates[j].length; k++) {
                        let color = this.localApi.colorGenerator(this.dateColor(this.filteredPolygons[i].avgDate));
                        let poly = L.polygon(this.filteredPolygons[i].coordinates[j][k], {color: color, fillOpacity: 0.6})
                            .on('click', (event) => {
                              console.log(event.sourceTarget._leaflet_id)
                              console.log(this.selectedPolygon)
                              this.selectedPolygon = this.polygons[i]
                            })
                            .addTo(this.map);
                        this.polygonObjs.push(poly);
                    }
                }
            }
        },

        zoomUpdated(zoom) {
            this.zoom = zoom;
        },
        centerUpdated(center) {
            this.center = center;
        },
        boundsUpdated(bounds) {
            this.bounds = bounds;
        },
        toggleDetailView() {
            this.showDetails = !this.showDetails;
        }
    },
}

</script>

<style>
    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }
    .legend {
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
</style>
