<template>
    <div>
        <div class="text-lg font-bold">
            Filter By
        </div>
        <multiselect v-model="value" :min="1" :options="options" :searchable="false" :close-on-select="false"
                     :show-labels="false" placeholder="Pick a value"></multiselect>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        name: "FilterType",
        components: {
            Multiselect
        },
        data() {
            return {
                value: "Last Sample",
                options: ["Last Sample"]
            }
        },
        methods: {
            getFilters() {
                return this.value;
            }
        },
        watch: {
            value() {
                this.$emit("filter-type-changed", this.value)
            }
        },
    }

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
</style>
