<template>
    <div>
        <div class="text-lg font-bold">
            Level Filter
        </div>
        <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false"
                     :clear-on-select="false" :preserve-search="true" placeholder="Filter by Quality Index" label="name"
                     track-by="name" :preselect-first="true">
            <template slot="selection" slot-scope="{ values, search, isOpen }">
                <span class="multiselect__single"
                      v-if="values.length &amp;&amp; !isOpen">{{ values.length }} Selected
                </span>
            </template>
        </multiselect>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "RegionFilter",
    components: {
        Multiselect
    },
    props: {
        originalOptions: {
            type: Array,
            default: () => []
        },
    },
    data() {
        return {
            value: this.originalOptions,
            options: this.originalOptions,
        }
    },
    methods: {
        getFilters() {
            return this.value;
        },

        refreshFilter(filters) {
            let data = [];
            for (let i = 0; i < filters.length; i++) {
                let filter = filters[i];
                data.push(filter.value);
            }
            this.options = data;
            this.value = data;
        }

    },
    watch: {
        value() {
            this.$emit("multiselect-changed", this.value)
        }
    },
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
</style>
