<template>
  <div id="app">
    <Feature/>

  </div>
</template>

<script>
import Feature from "./components/Feature";

export default {
  name: 'App',
  components: {
    Feature
  }
}
</script>

<style src="./assets/styles/index.css">
</style>
